<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wmj.sms.mapper.ClothMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wmj.sms.dao.Cloth">
        <id column="cloth_id" property="clothId" />
        <result column="cloth_name" property="clothName" />
        <result column="gender" property="gender" />
        <result column="batch_id" property="batchId" />
    </resultMap>

    <delete id="deleteByBatchId" parameterType="java.lang.Long" >
        delete from wmj_t_cloth
        where batch_id = #{batchId}
    </delete>

</mapper>
