<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team14.sms.mapper.StuApplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.team14.sms.dao.StuApply">
        <id column="id" property="id"/>
        <result column="stu_id" property="stuId"/>
        <result column="batch_id" property="batchId"/>
        <result column="app_reason" property="appReason"/>
        <result column="sc_date" property="scDate"/>
        <result column="cloth_id" property="clothId"/>
        <result column="cloth_size" property="clothSize"/>
        <result column="state" property="state"/>
        <result column="ref_reason" property="refReason"/>
    </resultMap>

    <resultMap id="CountResultMap" type="com.team14.sms.dao.countResult">
        <result column="col_id" property="colId"/>
        <result column="cloth_id" property="clothId"/>
        <result column="cloth_size" property="clothSize"/>
        <result column="num" property="num"/>
    </resultMap>
    <select id="countResult" resultType="com.team14.sms.dao.countResult">
        select col_id, cloth_id, cloth_size, count(*) as num
        from team14_t_stu_apply
        where state = 1
           or state = 2
           or state = 3
        group by col_id, cloth_id, cloth_size;
    </select>


</mapper>
